#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.stankin-image {
  margin-bottom: 20px;
}

.title-modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.title-modal-bg.hidden {
  display: none;
}

.title-modal {
  padding: 30px;
  max-width: 700px;
  background-color: #ffffff;
  box-shadow: 10px 5px 0px black;
}

.name {
  color: #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.name__name {
  text-align: right;
  font-size: 16px;
  line-height: 20px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.start-btn {
  padding: 10px;
  font-size: 1.4rem;
  font-family: sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 250px auto 120px;

}

.wordart {
  font-family: Arial, sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wordart.blues {
  font-family: Impact, sans-serif;
  color: #24c0fd;
  -webkit-text-stroke: 0.01em #0000aa;
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa, Strength=1);
  text-shadow: 0.13em -0.13em 0px #0000aa;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
}

.window {
  margin: 20px 0;
  font-family: 'ms_sans_serif', serif;
  align-self: center;
  max-width: 100% !important;
  width: auto !important;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-family: 'ms_sans_serif', serif !important;
  font-size: 12px !important;
}

.contents,
#contents {
  display: none;
}

#contents .header-back {
  text-align: left;
  display: flex;
}

.contents>ul {
  font-family: "Courier";
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 20px;
  max-width: 950px;
  color: #000;
}

nav {
  position: relative;
}

.nav-container {
  position: fixed;
  width: 200px;
  top: 30vh;
  left: 50px;
  box-shadow: 10px 5px 0px black;
  background-color: #fff;
  background: url(./assets/abc.gif) repeat;
  font-family: 'Courier';
  padding: 30px 0;
}

h2 {
  color: #000;
  text-decoration: underline;
  font-size: 1.5rem;
  padding: 15px;
  font-weight: bold;
}

ul {
  color: #000;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  list-style-type: disc;
}

ul li {
  margin-right: 5px;
}

.mute-container {
  margin-top: 20px;
  list-style-type: none;
  cursor: pointer;
}

ul li>a {
  color: #291ef4;
  text-decoration: underline;
  height: 100%;
  width: 100%;
  display: block;
}

.web-icons {
  height: 100vh;
  position: fixed;
  right: 50px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 80px;
}

section {
  display: flex;
  flex-direction: column;
  background: url(./assets/texture.gif) repeat;
  padding: 20px 50px;
  font-size: 18px;
  line-height: 22px;
  font-family: serif;
  text-align: justify;
  font-family: sans-serif;
}

.header-block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  background-image: url(./assets/texture.gif);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  max-height: 4.5em;
}

.header-back,
.header-text {
  margin: 0;
}

.header-back {
  font-family: "Impact", serif;
  box-sizing: border-box;
  padding-top: 2rem;
  font-size: 3.6rem;
  vertical-align: bottom;
  font-weight: bold;
  letter-spacing: -0.2rem;
}

.header-text {
  font-family: "Impact", serif;
  position: absolute;
  padding-top: 2rem;
  padding-left: 0.4rem;
  font-size: 2.3rem;
  color: #000;
  top: 10px;
  left: 0;
  font-weight: normal;
  letter-spacing: 0.44rem;
}

p {
  text-indent: 20px;
}

h3 {
  font-weight: bold;
  margin: 10px;
  font-size: 1.3rem;
  font-family: "Impact", serif;
}

.first-paragraph::first-letter {
  font-size: 50px;
}

.source-list {
  list-style-type: decimal;
}

@media screen and (max-width: 920px) {
  .nav-container {
    display: none;
  }

  .web-icons {
    display: none;
  }

  .container {
    display: block;
  }

  section {
    font-size: 14px;
  }

  .contents,
  #contents {
    display: block;
  }
}